<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaqywLhSgcuSs84OpztNJXXXdATVGrWbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>811748265633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gomobilez.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gomobilez-a5cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>gomobilez-a5cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811748265633:ios:32c38e8d215f9ab1266ae0</string>
</dict>
</plist>